<div class="medium-3 columns">
			<div class="hide-for-small">
				<div class="sidebar">
					<ul class="side-nav">
			           {% for categorie in page.categories limit:1 %}
			              {% assign category = categorie %}
			            {% endfor %} 
			            {% for pag in site.pages %}
			              {% if pag.categories == category  %}
			              <li{% if pag.title == page.title %} class="active"{% endif %}>
			                <a href="{{pag.url}}">{{pag.title}}</a>
			              </li>
			              {% endif %}
			            {% endfor %}
					</ul>
				</div>
			</div>
		</div>
